@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: VazirFD;
    src: url("./assets/fonts/Farsi_Vazir/Vazir-FD-WOL.eot") format("eot"),
      url("./assets/fonts/Farsi_Vazir/Vazir-FD-WOL.ttf") format("ttf"),
      url("./assets/fonts/Farsi_Vazir/Vazir-FD-WOL.woff") format("woff"),
      url("./assets/fonts/Farsi_Vazir/Vazir-FD-WOL.woff2") format("woff2");
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-menu-title-content,
.ant-form-item-required,
.ant-form-item,
.ant-checkbox {
  font-family: VazirFD;
}

.ant-modal {
  direction: rtl;
}


.font,
.fontPlaceholder::placeholder {
  font-family: VazirFD !important;
}